<div class="modal-content-vertical-large" id="Alterar">
    <h4>Alterar local de coleta</h4>
  
    <div class="alterar">
      <label for="local-entrega" style="width: 100%;">Local de coleta atual: <b>{{localColetaAtual}}</b></label>
    </div>
  
    <div class="dropdown" class="emprestimo">
      <label for="local-coleta" style="width: 100%;">Novo local de coleta:</label>
      <select id="local-coleta" class="custom-dropdown" style="width: 70%;" [(ngModel)]="novoLocalColeta">
        <option value="Matriz">Matriz</option>
        <option value="Contorno">Contorno</option>
        <option value="Betim">Betim</option>
        <option value="Caetés">Caetés</option>
        <option value="Galeria do Ouvidor">Galeria do Ouvidor</option>
        <option value="Justinópolis">Justinópolis</option>
        <option value="Nova Lima">Nova Lima</option>
        <option value="Raposos">Raposos</option>
        <option value="Ribeirão das Neves">Ribeirão das Neves</option>
        <option value="Sabará">Sabará</option>
        <option value="Santa Luzia">Santa Luzia</option>
        <option value="Venda Nova">Venda Nova</option>
      </select>
    </div>
  
    <button class=" btn btn-orange" id="botao" type="button" (click)="alterarLocalDeColeta()">Alterar</button>
  </div>
