.bibcorp-body {
    border-bottom-right-radius: 20px;
  }
  
  .bibcorp-dropdown {
    border-radius: 20px;
    margin-bottom: 10px;
  }
//////////////////////////////////////////

// Botão Voltar
.btn-no-bg {
    color: darkgray; 
    border: none; 
    padding-left: 20px; 
    padding-top: 20px;
  }
  
  // Botão Voltar - mouse passando por cima
  .btn-no-bg:hover {
    color: black;
  }  