
  .aprovar {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    height: 25px;
    width: 70px;
    text-align: center;
    text-decoration:none;
  }
  
  .recusar {
    background-color: #FF5733;
    color: #fff;
    border-radius: 8px;
    height: 25px;
    width: 70px;
    text-align: center;
    text-decoration:none;
  }