<div class="d-flex flex-row bibcorp-bg-secondary m-0 p-3">
  <div class="col">
    <div class="rounded-5">
      <div class="flex-fill m-0 p-0">
        <div class="input-group m-0 ">
          <div class="input-group-prepend ">
            <select class="bibcorp-select text-black border-0 p-2 ms-1 " id="pesquisarPor" [(ngModel)]="opcaoPesquisa"
              (change)="filtroPatrimonio()">
              <option [ngValue]="'Todos'">Todos</option>
              <option [ngValue]="'Localizacao'">Localizaçao</option>
              <option [ngValue]="'Sala'">Sala</option>
              <option [ngValue]="'Coluna'">Coluna</option>
              <option [ngValue]="'Prateleira'">Prateleira</option>
              <option [ngValue]="'Posicao'">Posicao</option>
              <option [ngValue]="'ISBN'">ISBN</option>
              <option [ngValue]="'SituacaoEmprestado'">Emprestado</option>
              <option [ngValue]="'SituacaoLiberado'">Disponível</option>
            </select>
          </div>
          <input type="text" class="form-control border-0 m-0 pe-2" placeholder="Busque aqui por localização, sala, coluna, prateleira, posição, ISBN, emprestado ou liberado" [(ngModel)]="argumento"
            (change)="filtroPatrimonio()">
          <!-- (input)="companyFilter($event.target)"-->
          <button class="bibcorp-search bibcorp-bg-primary text-white border-0 pt-1" (click)="filtroPatrimonio()">
            <mat-icon class="matIcon">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-0 ms-0 pt-0 ps-0">
  <button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active" routerLink="/home-admin">
    <span class="mr-2">&larr;</span> Voltar
  </button>
</div>

<div class="card rounded-3 shadow-sm p-0 mt-0 bg-white">


  <div style="min-height: 500px;">
    <table class="table table-striped table-hover table-light rounded-3 ">
      <thead class="table-primary">
        <tr>
          <th class="d-none d-md-table-cell d-flex justify-center">
            <a class="text-white" (click)="alterarImagem()">
              <mat-icon>{{exibirImagem ? 'visibility' : 'visibility_off'}}</mat-icon>
            </a>
          </th>
          <th>#</th>
          <th>ISBN</th>
          <th class="d-none d-md-table-cell">Localização</th>
          <th>Sala</th>
          <th>coluna</th>
          <th>Prateleira</th>
          <th>Posição</th>
          <th>Status</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="patrimonios && patrimonios.length">
        <tr *ngFor="let patrimonio of patrimonios" (click)="editarPatrimonio(patrimonio.id)" style="cursor: pointer">
          <td>
            <img [(ngbCollapse)]="!exibirImagem" [src]='(patrimonio.acervo != null) ?  patrimonio.acervo.capaUrl : capaLivro' alt=""
              [style.width.px]="50" [style.margin.px]="2">
          </td>
          <td>{{patrimonio.id}}</td>
          <td>{{patrimonio.isbn}}</td>
          <td>{{patrimonio.localizacao}}</td>
          <td>{{patrimonio.sala}}</td>
          <td>{{patrimonio.coluna}}</td>
          <td>{{patrimonio.prateleira}}</td>
          <td>{{patrimonio.posicao}}</td>
          <td>{{(patrimonio.status) ? 'Emprestado' : 'Disponível'}}</td>
          <td>
            <div class="btn-group mx-1">
              <a class="text-danger" (click)="abrirModal($event, patrimonio.id, patrimonio.isbn)">
                <mat-icon>delete</mat-icon>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!patrimonios.length">
        <td colspan="12" class="text-center" class="text-center">
          <h4>Nenhum patrimônio encontrado</h4>
        </td>
      </tfoot>
    </table>
  </div>
  <div class="card-footer d-flex p-1 m-0 bibcorp-bg-primary" *ngIf="patrimonios.length">
    <div class="justify-content-center m-auto p-0 m-0 mt-3">
      <ngb-pagination [collectionSize]="paginacao.itensPorPagina" [page]="paginacao.paginaCorrente"
        [maxSize]="paginacao.totalDePaginas" [rotate]="true" [boundaryLinks]="true" [ellipses]="false"
        (pageChange)="alteracaoDePagina($event)"></ngb-pagination>
    </div>
  </div>


  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">Carregando...</p>
  </ngx-spinner>
