 <div class="custom-modal" id="Sucesso">
 <div>
  <h5 class="modal-title">A sua solicitação foi registrada com sucesso!</h5>
  <img src="../../../../../assets/Images/check.png" alt="check" style="height: 40px; width: 40px; margin-top: 10px;">
 </div>
    <p class="modal-subtitle">Após a aprovação da solicitação, a entrega será feita <b>em até 48h</b> no local de entrega selecionado: <b>Unidade {{localEntrega}}</b> </p>
    <p class="modal-subtitle">Acompanhe o andamento da sua solicitação na opção 'Minhas Solicitacões' disponível no seu perfil</p>
    <button class="btn btn-blue" (click)="consultarSolicitacoes()">Ver minhas solicitações</button>
    <button class="btn btn-orange" (click)="voltarParaAcervoDetalhe()">Voltar</button>
  </div>