<div class="container mt-2 d-flex flex-column align-items-start">
    <button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active">
        <span class="mr-2" routerLink="principal">&larr; Voltar</span>
    </button>

    <div class="position-relative">
        <div class="row g-0">
            <!-- Card das informações do livro e imagem -->
            <div class="col-lg-7">
                <div class="card bg-white mb-3" style="border: 20px solid #fff; border-radius: 15px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);">
                    <div class="card-body" style="background-color: #fff; color: #000; border-radius: 0 15px 15px 0; position: relative; border-top: none;">
                        <h5 class="card-title" style="margin-left: 150px;">{{acervo.titulo}}</h5>
                        <p style="margin-left: 150px; margin-top: 40px;"><b>Autor: </b> <span style="text-decoration: underline;">{{acervo.autor}}</span> <br>
                            <b>Edição: </b>{{acervo.edicao}} <br>
                            <b>Data de publicação: </b>{{acervo.anoPublicacao}} <br>
                            <b>Editora: </b>{{acervo.editora}} <br>
                            <b>Páginas: </b>{{acervo.qtdPaginas}}
                        </p>
                        <!-- Adicione outras informações relevantes aqui -->
                    </div>
                    <img src={{acervo.capaUrl}} alt="Capa do livro" class="img-fluid rounded-start" style="border-radius: 15px; object-fit: cover; object-position: top; width: 150px; height: 225px; position: absolute; top: 0; left: 0; margin-top: 10px;">
                </div>
            </div>

            <!-- Card de exemplares -->
            <div class="col-lg-5">
                <div class="card bg-white text-dark" style="max-width: 20rem; margin-top: 20px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);">
                    <div class="card-header bg-white"></div>
                    <div class="table-responsive">
                        <div id="titulo-tabelapatrimonios">
                            <p>Exemplares</p>
                        </div>
                        <table class="table bg-white">
                            <thead>
                                <tr class="change-color">
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patrimonio of acervo.patrimonios; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td class="change-color">{{patrimonio.id}}</td>
                                    <td class="status">{{obterStatusPatrimonio(patrimonio.status)}}</td>
                                    <td><button class="btn btn-orange reserve-button" [disabled]="disabledReservar" (click)="abrirDialog(patrimonio.id)"
                                            data-bs-toggle="modal" data-bs-target="modalEmprestar" >Reservar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container de Sinopse -->
        <div class="container mt-4" style="margin-bottom: 20px; ">
            <div class="row">
                <div class="col-lg-11 col-12">
                    <div class="card bg-white mb-3 text-black" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);">
                        <div class="card-body">
                            <h5 class="card-title">Sinopse</h5>
                            <p class="card-text">{{acervo.resumo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <!--
                <div class="col-lg-8 offset-lg-1 col-12 mt-4">
                  <h5>Comentários</h5>

                  <form class="mb-4">
                      <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                          <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3"
                                  src="../../../assets/Images/backgroundImageBibCorp.jpg" alt="avatar" width="40"
                                  height="40" />
                              <div class="form-outline w-100" style="margin-bottom: 0;">
                                  <textarea class="form-control" id="textAreaExample" rows="4"
                                      style="background: #fff; margin-bottom: 0;"
                                      placeholder="Comente o que achou desta obra..." (ngModel)="comentarios"></textarea>
                                  <label class="form-label" for="textAreaExample"></label>
                              </div>
                          </div>
                          <div class="float-end mt-1 pt-1">
                              <button type="button" class="btn btn-primary btn-sm me-2" (click)="salvarAcervo()">Enviar</button>
                              <button type="button" class="btn btn-outline-primary btn-sm">Cancelar</button>
                          </div>
                      </div>
                  </form>

                  <div class="mt-4">
                      <h6>Comentários Recentes</h6>
                      <br>
                      <div class="row">
                          <div class="col">
                              <ul class="no-bullets">
                                  <li>
                                      <div class="d-flex align-items-center">
                                          <img class="rounded-circle shadow-1-strong me-3"
                                              src="../../../assets/Images/user.jpg" alt="avatar" width="65"
                                              height="65" />
                                          <div>
                                              <p class="mb-1">Arnel Pineda <span class="small">- 2 horas atrás</span>
                                              </p>
                                              <p class="small mb-0">{{acervo.comentarios}}</p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>

                              <ul class="no-bullets">
                                  <li>
                                      <div class="d-flex align-items-center">
                                          <img class="rounded-circle shadow-1-strong me-3"
                                              src="../../../assets/Images/user2.jpeg" alt="avatar" width="65"
                                              height="65" />
                                          <div>
                                              <p class="mb-1">Nina Dobrev <span class="small">- Agora</span></p>
                                              <p class="small mb-0">{{acervo.comentarios}}</p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>-->

      <br><br>
