<div class="modal-content-vertical-large" id="Renovar" style="display: flex; flex-direction: column; justify-content: space-between; height: 350px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="display: flex; flex-direction: column; height: 100%;">
            <div class="modal-header" style="text-align: center;">
                <h4 class="titulo">Solicitar novamente</h4>
            </div>
            <div class="modal-body" style="display: flex; justify-content: space-between; align-items: center;">
                <div style="text-align: left;">
                    <img src="../../../../assets/Images/capaDefault.png" style="width: 90px;" alt="Imagem do livro" class="book-image">
                    <p class="book-info">titulo</p>
                </div>
                <div style="text-align: right;">
<div class="form-check">
    <label class="checkmark">
        <input type="radio" id="manterLocal" name="coleta" checked>
        <span class="checkmark"></span> Manter local de coleta
    </label>
    <label class="checkmark">
        <input type="radio" id="alterarLocal" name="coleta">
        <span class="checkmark"></span> Alterar local de coleta
    </label>
</div>

                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-orange reserve-button" data-dismiss="modal" style="margin-top: auto;">Renovar</button>
            </div>
        </div>
    </div>
</div>
