body{
    background-color: transparent; 
    padding: 200px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  font-size: 42px;
}

#conteudo{  
   display: block;
   margin-left: auto;
   margin-right: auto;
    height: 360px;
    width: 350px;
    background-color: rgb(232, 240, 246);
    border-radius: 10px;
    align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px whitesmoke;
  border-style: 2px solid whitesmoke;
}
#botao{
    background-color: orange;
   width: 60%;
   border-color: orange;
}

