<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container">
  <mat-drawer #drawer
    class="drawer"
    mode="side"
    opened="true">

    <mat-toolbar class="header ">
      <div>Logo</div>
      <mat-icon class="close"
     (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
      Drawer
      Drawer 2
    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()">
      menu
    </mat-icon>
    <div>Header</div>
  </mat-toolbar>

  <div class="main contents">
    drawer opened: {{drawer.opened}}
    <div>Contents xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxxx xxxxxx xxxxxx</div>
    <div style="height: 1000px">&nbsp;</div>
  </div>


  <mat-toolbar class="main footer">
    Footer
  </mat-toolbar>
</mat-drawer-container>
