.btn-no-bg {
  color: darkgray;
  border: none;
  padding-left: 50px;
  padding-top: 20px;
}

/* Botão Voltar - mouse passando por cima */
.btn-no-bg:hover {
  color: black;
}

/* card de informações */
.card {
  margin-left: 60px;
  margin-top: 20px;
}

/* cores da tabela */
.change-color th,
td {
  color: black;
  background-color: white;
}

/* Botão reservar */
.btn-orange {
  background-color: #FF9D4E;
  border: none;
  transition: background-color 0.3s;
  color: white;
}

/* Botão reservar - mouse passando por cima */
.btn-orange:hover {
  background-color: #FFB07D;
  color: white;
}

ul.no-bullets {
  list-style-type: none;
}

#titulo-tabelapatrimonios {
  font-weight: bold;
  text-align: center;
}