

<button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active">
  <span class="mr-2" routerLink="principal">&larr;</span> Voltar aos resultados
</button>

<!-- Container de informações do livro -->
<div class="container mt-4">
  <div class="row">
      <div class="col-12 col-md-6">
          <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">{{acervo.titulo}}</div>
              <div class="card-body">
                  <ul class="list-group list-group-flush custom-list">
                      <li class="list-group-item bibcorp-bg-primary"><b>Autor:</b> {{acervo.autor}}</li>
                      <li class="list-group-item bibcorp-bg-primary"><b>Edição:</b> {{acervo.edicao}}</li>
                      <li class="list-group-item bibcorp-bg-primary"><b>Data de Publicação:</b>
                          {{acervo.anoPublicacao}}</li>
                      <li class="list-group-item bibcorp-bg-primary"><b>Editora:</b> {{acervo.editora}}</li>
                      <li class="list-group-item bibcorp-bg-primary"><b>Páginas:</b> {{acervo.qtdPaginas}}</li>
                  </ul>
              </div>
          </div>
      </div>

      <!-- Tabela -->
      <div class="col-12 col-md-6">
          <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 25rem;">
              <div class="card-header bibcorp-bg-secondary"></div>
              <div class="table-responsive">
                <div id="titulo-tabelapatrimonios">
                    <p>Exemplares</p>
                </div>
                
                  <table class="table bibcorp-bg-secondary">
                      <thead>
                          <tr class="change-color">
                              <th>#</th>
                              <th>ID</th>
                              <th>Status</th>
                              <th>Opções</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let patrimonio of acervo.patrimonios; let i=index;">
                              <td>{{i+1}}</td>
                              <td class="change-color">{{patrimonio.id}}</td>
                              <td class="status">Disponível</td>
                              <td><button class="btn btn-orange reserve-button" (click)="abrirDialog(patrimonio.id)" data-bs-toggle="modal" data-bs-target="modalEmprestar">Reservar</button></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
  
      <!-- Container de Sinopse  -->
      <div class="container mt-4">
          <div class="row">
              <div class="col-lg-11 col-12">
                  <div class="card bibcorp-bg-primary text-white">
                      <div class="card-body">
                          <h5 class="card-title">Sinopse</h5>
                          <p class="card-text">{{acervo.resumo}}</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-8 offset-lg-1 col-12 mt-4">
                  <h5>Comentários</h5>
             
                  <form class="mb-4">
                      <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                          <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3"
                                  src="../../../assets/Images/backgroundImageBibCorp.jpg" alt="avatar" width="40"
                                  height="40" />
                              <div class="form-outline w-100" style="margin-bottom: 0;">
                                  <textarea class="form-control" id="textAreaExample" rows="4"
                                      style="background: #fff; margin-bottom: 0;"
                                      placeholder="Comente o que achou desta obra..." (ngModel)="comentarios"></textarea>
                                  <label class="form-label" for="textAreaExample"></label>
                              </div>
                          </div>
                          <div class="float-end mt-1 pt-1">
                              <button type="button" class="btn btn-primary btn-sm me-2" (click)="salvarAcervo()">Enviar</button>
                              <button type="button" class="btn btn-outline-primary btn-sm">Cancelar</button>
                          </div>
                      </div>
                  </form>

                  <div class="mt-4">
                      <h6>Comentários Recentes</h6>
                      <br>
                      <div class="row">
                          <div class="col">
                              <ul class="no-bullets">
                                  <li>
                                      <div class="d-flex align-items-center">
                                          <img class="rounded-circle shadow-1-strong me-3"
                                              src="../../../assets/Images/user.jpg" alt="avatar" width="65"
                                              height="65" />
                                          <div>
                                              <p class="mb-1">Arnel Pineda <span class="small">- 2 horas atrás</span>
                                              </p>
                                              <p class="small mb-0">{{acervo.comentarios}}</p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>

                              <ul class="no-bullets">
                                  <li>
                                      <div class="d-flex align-items-center">
                                          <img class="rounded-circle shadow-1-strong me-3"
                                              src="../../../assets/Images/user2.jpeg" alt="avatar" width="65"
                                              height="65" />
                                          <div>
                                              <p class="mb-1">Nina Dobrev <span class="small">- Agora</span></p>
                                              <p class="small mb-0">{{acervo.comentarios}}</p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <br><br>
