  .card {
    transition: transform 0.3s ease-in-out;
    color: black;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
  }
  
.btn-orange {
    background-color: #FF9D4E;
    order: none;
    transition: background-color 0.3s;
    color: white;
    margin: auto;
    display: block;
  }

  .btn-orange:hover {
    background-color: #FFB07D;
    color: white;
  }

  .btn-blue {
    background-color: #00BFFF;
    border: none;
    transition: background-color 0.3s;
    color: white;
  }

  .btn-blue:hover {
    background-color: #00BFFF;
    color: white;
  }


