<div class="container-fluid m-0 p-0" *ngIf="showCabecalho()">
  <div class="d-flex flex-row bibcorp-bg-primary m-0 p-1">
    <div class="col-3">
      <div class="h3 text-white" style="margin-left: 20px;">
        {{title}}
      </div>
    </div>
    <div class="col-2 ms-auto mt-2">
      <div class="bg-white text-black bibcorp-dropdown rounded-5 p-1 me-5 mb-1" type="text">
        <img src="../../../assets/Images/backgroundImageBibCorp.jpg" class="rounded-circle"
          style="width: 25px; height: 25px;" alt="Avatar" />
        {{usuarioAtivo.userName}}
    </div>
    </div>
  </div>
</div>