<div class="container-fluid mt-0 ms-0 pt-0 ps-0">
  <button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active" routerLink="principal">
    <span class="mr-2">&larr;</span> Voltar
  </button>
  <form class="container-fluid mt-2 " [formGroup]="formPerfil" (ngSubmit)="onSubmit()">
    <div class="card rounded shadow">
      <div class="card-header rounded text-center text-white bibcorp-bg-secondary p-3">
        <div class="h3">
          Meu perfil
        </div>
      </div>
    </div>
    <div class="card-body p-0 mt-1 bg-white  text-black">
      <div class="row p-3">
        <div class="col-lg-3 pt-1">
          <div class="card mb-3 bibcorp-bg-primary">
            <div class="card-header bibcorp-bg-secondary"></div>
            <div class="d-flex align-self-center pt-3">
              <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                <img
                  src="../../../../assets/Images/user_icon.png"
                  name="aboutme" width="120" height="120" class="rounded-circle">
              </a>
            </div>
            <div class="card-body">
              <div class="h4 text-center mb-3">@MJ</div>
              <div class="h7 text-bold pb-1" style="text-align: center;"><b>Nome:</b> Mary Jane Watson </div>
            </div>
            <div class="card-footer bibcorp-bg-primary">
              <div class="card d-flex bibcorp-bg-primary   g-0 m-0 p-0">
                <div class="card-header bibcorp-bg-secondary text-center shadow">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div class="h5">1342</div>
                      <div class="h6 text-muted">Total de Livros Lidos</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="form-row d-md-flex">
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>Nome completo:</mat-label>
              <input matInput type="text" formControlName="nome" [ngClass]="fieldValidator(ctrF.nome)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.nome, '')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>E-mail:</mat-label>
              <input matInput type="text" formControlName="email" [ngClass]="fieldValidator(ctrF.email)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.email, '')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-row d-md-flex">
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>Telefone:</mat-label>
              <input matInput type="text" formControlName="phoneNumber" [ngClass]="fieldValidator(ctrF.phoneNumber)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.phoneNumber, '')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>Unidade:</mat-label>
              <input matInput type="text" formControlName="localizacao" [ngClass]="fieldValidator(ctrF.localizacao)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.localizacao, '')}}</mat-error>
            </mat-form-field>
          </div>
          <h3 class="pt-3 border-bottom">Alterar Senha</h3>
          <p>Para alterar a sua senha, preencha os campos abaixo:</p>
          <div class="form-row d-md-flex">
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>Senha:</mat-label>
              <input matInput type="password" formControlName="password" [ngClass]="fieldValidator(ctrF.password)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.password, '')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="col-6  p-1" appearance="fill">
              <mat-label>Confirmar senha:</mat-label>
              <input matInput type="text" formControlName="confirmPassword" [ngClass]="fieldValidator(ctrF.confirmPassword)">
              <mat-error class="invalid-feedback">{{messageReturned(ctrF.confirmPassword, '')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
    <div class="card-footer rounded bibcorp-bg-secondary mt-1 ">
      <div class="d-flex " style="margin-right: 20px;">
          <button class="btn btn-danger ms-auto mx-1 my-3" (click)="resetForm($event)">
              Cancelar
          </button>
          <button class="btn btn-primary mx-1 px-4 my-3" [disabled]="!formPerfil.valid">
              Salvar
          </button>
      </div>
  </div>
</div>