<app-titlebar [title]="'Gerenciamento de empréstimos'"></app-titlebar>
<router-outlet></router-outlet>

<button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active">
    <span class="mr-2" routerLink="/home-admin">&larr; Voltar</span>
</button>

<div class="table-responsive">
    <div style="min-height: 500px;">
        <table class="table table-striped table-hover table-light rounded-3 ">
            <thead class="table-primary">
                <tr>
                    <th class="d-none d-md-table-cell d-flex justify-center">
                        <a class="text-white" (click)="alterarImagem()">
                            <mat-icon>{{exibirImagem ? 'visibility' : 'visibility_on'}}</mat-icon>
                        </a>
                    </th>
                    <th>#</th>
                    <th>Título</th>
                    <th>Destino</th>
                    <th>Usuário</th>
                    <th>Data da solicitação</th>
                    <th>Sala</th>
                    <th>Prateleira</th>
                    <th>Coluna</th>
                    <th>Posição</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emprestimo of emprestimos; let i=index;">
                    <td>
                        <img [(ngbCollapse)]="!exibirImagem" src={{emprestimo.acervo.capaUrl}} alt="Capa do livro"
                            [style.width.px]="50" [style.margin.px]="2">
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{emprestimo.acervo.titulo}}</td>
                    <td>{{emprestimo.localDeEntrega}}</td>
                    <td>{{emprestimo.userName}}</td>
                    <td>{{formatarData(emprestimo.dataEmprestimo)}}</td>
                    <td>{{emprestimo.patrimonio.sala}}</td>
                    <td>{{emprestimo.patrimonio.prateleira}}</td>
                    <td>{{emprestimo.patrimonio.coluna}}</td>
                    <td>{{emprestimo.patrimonio.posicao}}</td>
                    <td>{{obterStatus(emprestimo.status)}}</td>
                    <td>
                        <div class="btn-group mx-1">
                            <button class="aprovar" matTooltip="Aprovar solicitação"
                                style="color: white;" *ngIf="emprestimo.status== 1" (click)="gerenciarEmprestimo(emprestimo.id, 'Aprovar' )">Aprovar</button>
                        </div>
                        <div class="btn-group mx-1">
                            <button class="recusar" matTooltip="Recusar solicitação"
                                style="color: white;" *ngIf="emprestimo.status== 1" (click)="gerenciarEmprestimo(emprestimo.id,'Recusar')">Recusar</button>
                        </div>
                        <div class="btn-group mx-1">
                            <button class="devolver" matTooltip="Acusar recebimento"
                                style="color: white;" *ngIf="emprestimo.status== 2 || emprestimo.status== 4" (click)="gerenciarEmprestimo(emprestimo.id,'Devolver')">Devolução</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td *ngIf="!emprestimos.length" colspan="12" class="text-center">
                    <h6>Não foram encontrados empréstimos pendentes de atuação</h6>
                </td>
            </tfoot>
        </table>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>