
  .aprovar {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    height: 30%;
    width: 75px;
    text-align: center;
    text-decoration:none;
    border-color: #4CAF50;
    margin-top: 8px;
  }
  
  .recusar {
    background-color: #FF5733;
    color: #fff;
    border-radius: 8px;
    height: 30px;
    width: 75px;
    text-align: center;
    text-decoration:none;
    border-color: #FF5733;
    margin-top: 2px;
  }

  .devolver {
    background-color: #00BFFF;
    color: #fff;
    border-radius: 8px;
    height: 30px;
    width: 90px;
    text-align: center;
    text-decoration:none;
    border-color: #00BFFF;
margin-top: 25px;
  }


