<p>cadastro works!</p>
<div class="wrapper">
    <div class="title-text">
      <img src="../assets/Images/thumbnail_logotipo.png" width="250px"  alt="Logotipo Prevenir" >
       <div class="mensagem-orientacao">
         <p>Cadastra-se</p>
        </div>
    </div>
    <div class="form-container">
       <div class="form-inner">
          <form action="#" class="login">
             <div class="field">
                <label for="Nome">Nome completo</label>
                <input type="text" id="Nome"placeholder="Nome completo" required>
             </div>
             <div class="field">
                <label for="Usuario">Nome de usuário</label>
                <input type="text" id="Usuario" placeholder="Nome de usuário" required>
             </div>
             <div class="field">
                <label for="Telefone">Telefone</label>
                <input type="tel" id="Telefone" placeholder="Telefone" required>
             </div>
             <div class="field">
                <label for="Senha">Senha</label>
                <input type="password" id="Senha" placeholder="Senha" required>
             </div>
             <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Cadastre-se">
             </div>

             <div class="login-link">
               <div >
                  Já tem uma conta? <a href="">Faça login</a>
               </div>
               <div id="acessar-acervo">
                  <a href="#">Acessar o acervo</a>  
               </div>
             </div>
          </form>
          <form action="#" class="signup">
             <div class="field">
                <input type="text" placeholder="Email Address" required>
             </div>
             <div class="field">
                <input type="password" placeholder="Password" required>
             </div>
             <div class="field">
                <input type="password" placeholder="Confirm password" required>
             </div>
             <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
             </div>
          </form>
       </div>
    </div>
 </div>