.drawer {
  position: fixed;
  height: 100vh;
  min-width: 25%;
  border-right: 1px solid #ccc;
}
.drawer .header {
  position: absolute;
  right: 0;
  justify-content: space-between;
}
.drawer .contents {
  padding: 16px;
  height: auto;
  color: black;
}

.main {
  background-color: #fff;
}

.main.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

.main.contents {
  min-height: 100vh;
  margin-top: 64px; /* height of header */
  padding: 16px;
  color: black;
}

.main.footer {
  position: fixed;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
}

