.bibcorp-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.bibcorp-drawer {
  margin: 1%;
  padding: 2.5%;
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
