<div class="modal-content-vertical-large" id="Emprestar">
    <h3>Empréstimo</h3>
  
    <div class="dropdown">
      <label for="local-entrega" style="width: 100%;">Local de entrega:</label>
      <select id="local-entrega" class="custom-dropdown" style="width: 100%;">
        <option value="belo-horizonte">Matriz</option>
        <option value="sabara">Contorno</option>
        <option value="sabara">Betim</option>
        <option value="sabara">Caetes</option>
        <option value="sabara">Galeria do Ouvidor</option>
        <option value="sabara">Justinópolis</option>
        <option value="sabara">Nova Lima</option>
        <option value="sabara">Raposos</option>
        <option value="sabara">Ribeirão das Neves</option>
        <option value="sabara">Sabará</option>
        <option value="sabara">Santa Luzia</option>
        <option value="sabara">Venda Nova</option>
      </select>
    </div>
  
    <div class="dropdown">
      <label for="local-coleta" style="width: 100%;">Local de coleta:</label>
      <select id="local-coleta" class="custom-dropdown" style="width: 100%;">
        <option value="belo-horizonte">Matriz</option>
        <option value="sabara">Contorno</option>
        <option value="sabara">Betim</option>
        <option value="sabara">Caetes</option>
        <option value="sabara">Galeria do Ouvidor</option>
        <option value="sabara">Justinópolis</option>
        <option value="sabara">Nova Lima</option>
        <option value="sabara">Raposos</option>
        <option value="sabara">Ribeirão das Neves</option>
        <option value="sabara">Sabará</option>
        <option value="sabara">Santa Luzia</option>
        <option value="sabara">Venda Nova</option>
      </select>
    </div>
  
    <button class="btn btn-orange" (click)="fecharModalEmprestarEAbrirModalSucesso()">Emprestar</button>
  </div>
