<!-- TITULO -->
<!-- <app-titulo [titulo]="'Solicitações'"></app-titulo> -->
<app-titlebar
  [title]="'Minhas solicitações'"
></app-titlebar>
<!-- <router-outlet></router-outlet> -->

<!-- FILTRO -->
 <div class="d-flex mt-1">
  <div class="flex-fill pr-3">
    <div class="input-group mb-2">
      <div class="input-group-prepended">
        <div class="input-group-text text-white bibcorp-bg-primary">Filtro: </div>
      </div>
      <input
      type="text"
      class="form-control"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
      >
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="row" *ngIf="emprestimos && emprestimos.length">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" *ngFor="let emprestimos of emprestimosFiltrados">
      <div class="card text-black bibcorp-bg-white mb-3" style="max-width: 30rem;">
        <div class="card-header text-white bibcorp-bg-secondary">
          <P class="h5">Livro: {{emprestimos.acervo.titulo}}</P>
          <P class="h7">Autor: {{emprestimos.acervo.autor}}</P>
        </div>
        <br>
        <img src={{emprestimos.acervo.capaUrl}} alt="Capa do livro" style="max-width: 170px; max-width: 120px; width: fit-content; height: fit-content;margin: auto;display: block" >
        <div class="card-body">
          <!-- <p class="h4 card-title">Subtitulo{{acervo.subTitulo}}</p>
          <textarea matInput style="min-height: 150px; min-width: 100%;"
            class="bibcorp-bg-primary text-white border-0 p-0 m-0" disabled>{{acervo.resumo}}</textarea> -->
          <p class="card-text">Data da solicitação:  {{emprestimos.dataEmprestimo}}</p>
          <p class="card-text">Data prevista de devolução:  {{emprestimos.dataPrevistaDevolucao}}</p>
          <p class="card-text">Status do empréstimo:  <b>{{status(emprestimos)}}</b></p>
        </div>
        <div class="buttons">
          <div class="buttonRenovacao">
            <button type="button" class="btn btn-orange button" (click)="abrirDialogRenovacao(emprestimos.id, emprestimos.acervo.titulo, emprestimos.dataPrevistaDevolucao)" data-bs-toggle="modal" data-bs-target="modalRenovar">Renovar</button>
          </div>
          <br>
          <div class="buttonAlteracao">
            <button type="button" class="btn btn-blue button" (click)="abrirDialogAlteracao(emprestimos.id, emprestimos.localDeColeta)" data-bs-toggle="modal" data-bs-target="modalAlterar">Alterar local de coleta</button>
          </div>
          <br>
          
        </div>
        
      </div>
    </div>
  </div>
  </div>

<!-- {{eventos | json}} -->
