<!-- TITULO -->
<!-- <app-titulo [titulo]="'Solicitações'"></app-titulo> -->
<app-titlebar
  [title]="'Solicitações'"
></app-titlebar>
<!-- <router-outlet></router-outlet> -->

<!-- FILTRO -->
 <div class="d-flex mt-1">
  <div class="flex-fill pr-3">
    <div class="input-group mb-2">
      <div class="input-group-prepended">
        <div class="input-group-text text-white bibcorp-bg-primary">Filtro: </div>
      </div>
      <input
      type="text"
      class="form-control"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
      >
    </div>
  </div>
</div>


<div class="container d-flex">
  <div class="row" *ngIf="emprestimos && emprestimos.length">
    <div *ngFor="let emprestimos of emprestimosFiltrados">
      <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 30rem;">
        <div class="card-header bibcorp-bg-secondary">
          <P class="h5">Titulo: {{emprestimos.acervos.titulo}}</P>
          <P class="h7">Autor: {{emprestimos.acervos.autor}}</P>
          <p class="h7">Genero:{{emprestimos.acervos.genero}}</p>
        </div>
        <div class="card-body">
          <!-- <p class="h4 card-title">Subtitulo{{acervo.subTitulo}}</p>
          <textarea matInput style="min-height: 150px; min-width: 100%;"
            class="bibcorp-bg-primary text-white border-0 p-0 m-0" disabled>{{acervo.resumo}}</textarea> -->
          <p class="card-text">Data do Emprestimo:  {{emprestimos.dataEmprestimo}}</p>
          <p class="card-text">Data da Devolução:  {{emprestimos.dataPrevistaDevolucao}}</p>
          <p class="card-text">Status do Emprestimo:  {{status(emprestimos)}}</p>
        </div>
        <button type="button" class="btn btn-success btn-sm" (click)="abrirDialog(emprestimos.patrimonios.id)" data-bs-toggle="modal" data-bs-target="modalRenovar">Renovar</button>

      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<button type="button" class="btn btn-info btn-sm" (click)="abrirDialogAlterar()" data-bs-toggle="modal" data-bs-target="alterarLocal">Alterar local de coleta</button>

<!-- {{eventos | json}} -->
