<div class="bibcorp-content">
  <div class="bibcorp-container">
    <div class="bibcorp-bg-secondary bibcorp-header ">
      <div class="row">
        <mat-toolbar class="col-4">
          <div class="flex-fill">
            <div class="input-group bibcorp-btn-group">
              <div class="input-group-prepend">
                <select class="bibcorp-select bg-white text-black border-0" id="pesquisarPor">
                  <option>Tudo</option>
                  <option>Título</option>
                  <option>Sinopse</option>
                  <option>Autor</option>
                </select>
              </div>
              <input type="text" class="form-control mr-2 border-0" placeholder="argumento">
              <!-- (input)="companyFilter($event.target)"-->
              <button mat-icon-button class="bibcorp-search bg-white text-black border-0">
                <mat-icon class="matIcon">search</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar>
        <div class="col-2 ms-auto ">
          <div class="d-flex">
            <div class="row">
              <div class="dropdown ">
                <button class="btn dropdown-toggle bg-white text-black bibcorp-dropdown" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../../assets/Images/backgroundImageBibCorp.jpg" class="rounded-circle"
                    style="width: 30px; height: 30px;" alt="Avatar" />
                  alexGaldino
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item bg-secondary active" href="#">Perfil</a></li>
                  <li><a class="dropdown-item bg-secondary active" href="#">Sair</a></li>

                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bibcorp-body bibcorp-bg-white2">
      <div class="mt-5">
        <p class="bibcorp-titulo2 ">Recomendados para você</p>
        <div class="row">
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="bibcorp-titulo2 ">Lidos Recentemente</p>
        <div class="row">
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bibcorp-bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-primary">Header</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
