<div class="d-flex flex-row bibcorp-bg-secondary m-0 p-0">
  <div class="col-2 col-sm-3 col-md-4 ">
    <mat-toolbar class="rounded-5 p-0 m-3">
      <div class="flex-fill ">
        <div class="input-group m-0 ">
          <div class="input-group-prepend ">
            <select class="bibcorp-select text-black border-0 p-3 " id="pesquisarPor">
              <option value="Tudo">Tudo</option>
              <option value="Titulo">Título</option>
              <option value="Sinopse">Sinopse</option>
              <option value="Autor">Autor</option>
            </select>
          </div>
          <input type="text" class="form-control border-0 m-0 p-0" placeholder="argumento">
          <!-- (input)="companyFilter($event.target)"-->
          <button mat-icon-button class="bibcorp-search bg-white text-black border-0">
            <mat-icon class="matIcon">search</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="col-2 dropdown mt-3 ms-auto" >
    <button class="btn dropdown-toggle bg-white text-black bibcorp-dropdown" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../../../assets/Images/backgroundImageBibCorp.jpg" class="rounded-circle"
        style="width: 50px; height: 50px;" alt="Avatar" />
      alexGaldino
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item bg-secondary active" href="#">Perfil</a></li>
      <li><a class="dropdown-item bg-secondary active" href="#">Sair</a></li>
    </ul>
  </div>
</div>
<div class="contianer bibcorp-box m-0 ps-3">
  <div class="p-3">
    <p class="bibcorp-titulo2 ">Recentemente Adicionado:</p>
    <div class="row" *ngIf="acervos && acervosRecentes.length">
      <div class="col-4"  *ngFor="let acervo of acervosRecentes">
        <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header bibcorp-bg-secondary">{{acervo.titulo}}</div>
          <div class="card-body">
            <h4 class="card-title">{{acervo.subTitulo}}</h4>
            <p class="card-text">{{acervo.resumo}}</p>
            <p class="card-text">{{acervo.editora}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!acervosRecentes.length" colspan="8" class="text-center">
        <h4>Nenhum acervo adicionado recentemente encontrado!</h4>
      </div>
      <div class="mt-5">
        <p class="bibcorp-titulo2 ">Lidos Recentemente:</p>
        <div class="row" *ngIf="acervos && acervosLidos.length">
          <div class="col"  *ngFor="let acervo of acervosLidos">
            <div class="card text-white bibcorp-bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header bibcorp-bg-secondary">{{acervo.titulo}}</div>
              <div class="card-body">
                <h4 class="card-title">{{acervo.subTitulo}}</h4>
                <p class="card-text">{{acervo.resumo}}</p>
                <p class="card-text">{{acervo.editora}}</p>
              </div>
            </div>
          </div>
          <div *ngIf="!acervosLidos.length" colspan="8" class="text-center">
            <h4>Nenhum acervo lido recentemente encontrado!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>