<app-titlebar
  [title]="'Página Inicial'"
></app-titlebar>

<div class="d-flex flex-row bibcorp-bg-secondary m-0 p-3">
  <div class="col">
    <div class="rounded-5 ">
      <div class="flex-fill m-0 p-0">
        <div class="input-group m-0 ">
          <div class="input-group-prepend ">
            <select class="bibcorp-select text-black border-0 p-3 ms-1 " id="pesquisarPor" [(ngModel)]="opcaoPesquisa"
              (change)="filtroAcervo()">
              <option [ngValue]="'Todos'">Todos</option>
              <option [ngValue]="'Autor'">Autor</option>
             <!-- <option [ngValue]="'Resumo'">Resumo</option> genero!!-->
              <option [ngValue]="'Titulo'">Título</option>
            </select>
          </div>
          <input type="text" class="form-control border-0 m-0 pe-2" placeholder="Busque aqui por título ou autor" [(ngModel)]="argumento"
            (change)="filtroAcervo()">
          <!-- (input)="companyFilter($event.target)"-->
          <button class="bibcorp-search bibcorp-bg-primary text-white border-0 pt-1" (click)="filtroAcervo()">
            <mat-icon class="matIcon">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contianer bibcorp-box m-0 ps-3">
  <div class="p-3">
    <div class="d-flex flex-row">
      <div class="col">
        <p class="h5">Recentemente adicionado:</p>
      </div>
      <div>
        Gêneros:
        <select class="border-0 text-black p-2 ms-1 " id="Genero" [(ngModel)]="opcaoGeneroRecentes"
          (change)="filtroAcervo()" style="margin-bottom: 10px;">
          <option [ngValue]="'Todos'">Todos</option>
          <option *ngFor="let genero of generos" [ngValue]="genero">{{genero}}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="acervosRecentes && acervosRecentes.length">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" *ngFor="let acervo of acervosRecentes; let i = index;">
        <div class="card bg-white mb-3" style="max-width: 20rem; height: 35rem; border-radius: 15px; overflow: hidden; position: relative;" (mouseenter)="showDetailsButton = i" (mouseleave)="showDetailsButton = null">
          <div class="text-center" style="margin-top: 20px;">
            <img src="{{acervo.capaUrl}}" alt="Capa do livro" style="width: 200px; height: 300px; border-radius: 15px; object-fit: cover; object-position: top;">
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark" style="font-size: 1.2rem;">{{acervo.titulo}}</h5>
            <h6 class="card-subtitle mb-2 text-dark" style="font-size: 1rem;">{{acervo.autor}}</h6>
            <p class="card-text text-dark" style="font-size: 0.9rem;">{{acervo.editora}}</p>
            <p class="card-text text-dark" style="font-size: 0.9rem;">{{acervo.genero}}</p>
            <div style="position: absolute; top: 5px; right: 10px; display: flex; flex-direction: row; align-items: center;">
              <div class="circle-icon-wrapper" *ngIf="showDetailsButton === i">
               <!--
                  <button type="button" class="btn btn-red button" (click)="favoritarAcervo(acervo.id)" matTooltip="Favoritar" style="border-radius: 50%; margin-right: 3px;">
                  <div class="circle-icon" style="width: 40px; height: 40px; background-color: red; display: flex; align-items: center; justify-content: center; border-radius: 100%; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                  ">
                    <mat-icon style="color: white;">favorite</mat-icon>
                  </div>
                </button>
               -->
              </div>
              <button *ngIf="showDetailsButton === i" type="button" class="btn btn-blue button" (click)="detalheAcervo(acervo.id)" matTooltip="Ver detalhes"
                style="border-radius: 100%; font-size: 20px; margin-left: 3px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);">&rarr;
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


 <!--<textarea matInput style="min-height: 150px; min-width: 100%;"
                class="bibcorp-bg-primary text-white border-0 p-0 m-0" disabled>{{acervo.resumo}}</textarea>-->


    <div *ngIf="!acervosRecentes.length" colspan="8" class="text-center">
      <h4>Nenhum acervo adicionado recentemente encontrado!</h4>
    </div>

    <!--
         <div class="mt-5">
      <p class="h5">Lidos recentemente:</p>
      <div class="row" *ngIf="acervosLidos && acervosLidos.length">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" *ngFor="let acervo of acervosLidos">
      <div class="card bg-white mb-3" style="max-width: 20rem; height: 30rem; border-radius: 15px; overflow: hidden;" (click)="detalheAcervo(acervo.id)">
        <div class="text-center" style="margin-top: 20px;">
          <img src="{{acervo.capaUrl}}" alt="Capa do livro" style="width: 220px; height: 300px; border-radius: 15px; object-fit: cover; object-position: top;">
        </div>
        <div class="card-body">
          <h5 class="card-title text-dark" style="font-size: 1.2rem;">{{acervo.titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-dark" style="font-size: 1rem;">{{acervo.autor}}</h6>
          <p class="card-text text-dark" style="font-size: 0.9rem;">{{acervo.editora}}</p>
          <p class="card-text text-dark" style="font-size: 0.9rem;">{{acervo.genero}}</p>
        </div>
      </div>
    </div>
  </div>

      <div *ngIf="!acervosLidos.length" colspan="8" class="text-center">
        <h4>Nenhum acervo lido recentemente encontrado!</h4>
      </div>
    </div>
  </div>
</div>

    -->
   
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
