
.bibcorp-body {
  border-bottom-right-radius: 20px;
}

.bibcorp-select {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bibcorp-search {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bibcorp-dropdown {
  border-radius: 20px;
}
