.nav-item {
  margin-top: 30px;
}

.nav-item2 {
  margin-top: 5px;
  margin-left: 15px;
}

.nav-link {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  font-size: .9em;
}

.nav-link2 {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  font-size: .75em;
}