
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="h6 nav-link p-0 ms-4"  routerLink="principal">
            <mat-icon class="iconBadge mr-1">home</mat-icon>
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="h6 nav-link p-0 ms-4" href="#">
            <mat-icon class="iconBadge mr-1">library_books</mat-icon>
            Acervos
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="h6 nav-link p-0 ms-4" href="#">
            <mat-icon class="iconBadge mr-1">book</mat-icon>
            Patrimônio
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="h6 nav-link p-0 ms-4" href="#">
            <mat-icon class="iconBadge mr-1">dvr</mat-icon>
            Reservas
          </a>
        </li>
      </ul>
    </div>
  </nav>
