<div class="bibcorp-container-drawer">

  <nav>
    <div class="container mt-3">
      <a class="nav-link p-2" href="#">
        <mat-icon class="iconBadge mr-1">home</mat-icon>
        Home
      </a>
      <a class="nav-link p-2" href="#">
        <mat-icon class="iconBadge mr-1">library_books</mat-icon>
        Acervos
      </a>
      <a class="nav-link p-2" href="#">
        <mat-icon class="iconBadge mr-1">book</mat-icon>
        Patrimônio
      </a>    
      <a class="nav-link p-2" href="#">
        <mat-icon class="iconBadge mr-1">dvr</mat-icon>
        Reservas
      </a>    
    </div>
  </nav>
  
</div>