
.bibcorp-body {
  border-bottom-right-radius: 20px;
}

.bibcorp-dropdown {
  border-radius: 20px;
  margin-bottom: 10px;
}

//////////////////////////////////////////

// Botão Voltar
.btn-no-bg {
  color: darkgray; 
  border: none; 
  padding-left: 50px; 
  padding-top: 30px;
}

// Botão Voltar - mouse passando por cima
.btn-no-bg:hover {
  color: black;
}

//card de informações
.card{
  margin-left: 60px;
}

// cores da tabela
.change-color th,td{
  background-color: #0D4880;
}

//Botão reservar
.btn-orange {
  background-color: #FF9D4E;
  border: none;
  transition: background-color 0.3s;
}

//Botão reservar - mouse passando por cima
.btn-orange:hover {
  background-color: #FFB07D;
}

// Status - indisponível
.bold-red {
  font-weight: bold;
  color: red;
}

// Status - disponível
.bold-green {
  font-weight: bold;
  color: green;
}

ul.no-bullets {
  list-style-type: none;
}

