 <div class="custom-modal" id="Sucesso">
    <h5 class="modal-title">A sua solicitação foi registrada com sucesso!</h5>
    <p class="modal-subtitle">Após a aprovação da solicitação, a entrega será feita <b>em até 48h</b> no local de entrega selecionado: </p>
    <br>
    <h5>Unidade {{localEntrega}}</h5>
    <p class="modal-subtitle">Acompanhe o andamento da sua solicitação no menu 'Solicitações'</p>
    <img src="../../../../../assets/Images/check.png" alt="check" style="height: 40px; width: 40px; margin-top: 10px;">
    <button class="btn btn-orange" (click)="voltarParaAcervoDetalhe()">Voltar</button>
  </div>