<div class="container-fluid mt-0 ms-0 pt-0 ps-0">  
  <button type="button" class="btn btn-no-bg text-start mt-2 ms-3" routerLinkActive="active">
    <span class="mr-2" routerLink="principal">&larr;</span> Voltar
  </button>

  <div class="container mt-4">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="number" class="form-control" id="id" placeholder="ID">
                </div>
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="number" class="form-control" id="isbn" placeholder="ISBN">
                </div>
                <div class="mb-3">
                    <label for="coluna" class="form-label">Coluna</label>
                    <input type="text" class="form-control" id="coluna" placeholder="Coluna">
                </div>
                <div class="mb-3">
                    <label for="localizacao" class="form-label">Localização</label>
                    <input type="text" class="form-control" id="localizacao" placeholder="Localização">
                </div>
                <div class="mb-3">
                    <label for="posicao" class="form-label">Posição</label>
                    <input type="text" class="form-control" id="posicao" placeholder="Posição">
                </div>
                <div class="mb-3">
                    <label for="prateleira" class="form-label">Prateleira</label>
                    <input type="text" class="form-control" id="prateleira" placeholder="Prateleira">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="sala" class="form-label">Sala</label>
                    <input type="text" class="form-control" id="sala" placeholder="Sala">
                </div>
                <div class="mb-3">
                    <label for="data-atualizacao" class="form-label">Data de Atualização</label>
                    <input type="date" class="form-control" id="data-atualizacao">
                </div>
                <div class="mb-3">
                    <label for="data-cadastro" class="form-label">Data de Cadastro</label>
                    <input type="date" class="form-control" id="data-cadastro">
                </div>
                <div class="mb-3">
                    <label for="data-indisponibilidade" class="form-label">Data de Indisponibilidade</label>
                    <input type="date" class="form-control" id="data-indisponibilidade">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status">
                        <option value="ativo">Disponível</option>
                        <option value="inativo">Indisponível</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" style="float: right;">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br>
